@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* mobile first */

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    --bg-primary_title:   rgba(231, 231, 231, 1);
    --bg-secondary_text1: rgba(23, 23, 25, 1);
    --button:             rgba(1, 182, 113, 1);
    --shapes:             rgba(1, 216, 130, 1);
    --text2:              rgba(180, 180, 180, 1);

    --title-ff: 'Exo', sans-serif;
    --title-fs: 12vw;

    --subtitle-fs: 5vw;

    --lh: 100%;
}

/* GLOBAL */

button {
    width: 100%;
    max-width: 326px;;
    border: none;
    font-family: var(--title-ff);
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    padding: .5em 0;
}

img {
    display: block;
    width: 100%;
}

.desktop {
    display: none;
}

/* HERO SECTION */

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    background-color: var(--bg-secondary_text1);
    background-image: url("images/hero-bg.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    color: var(--bg-primary_title);
}

.hero__social-box {
    position: absolute;
    right: 0;
    top: calc(55px + 2rem);
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .2));
}

.hero__social-box > a {
    margin: 1rem;
}

/* HERO top/left section */

.hero__top-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 7rem 1rem 0 1rem;
    position: relative;
}

/* header & standard menu */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-secondary_text1);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1;
}

/* logo & title */

.header__logo {
    width: 55px;
    height: 55px;
}

.header__title {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.title__main {
    font-size: 1rem;
    font-family: var(--title-ff);
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    color: var(--bg-primary_title);
    line-height: var(--lh);
    margin-bottom: .4rem;
}

.title__subtitle {
    font-family: var(--title-ff);
    font-weight: 400;
    font-style: italic;
    color: var(--text2);
    line-height: var(--lh);
}

/* menu & hamburger icon*/

.header__menu {
    width: 55px;
}

.menu__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu__hamburger {
    display: block;
    width: 50px;
    height: 41px;
    display: none;
    float: left;
}

.hamburger__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 41px;
    margin-top: 7px;
}

.hamburger__element1,
.hamburger__element2 {
    display: block;
    width: 30px;
    height: 8px;
    border-radius: 5px;
    background-color: var(--bg-primary_title);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

.hamburger__element2 {
    align-self: flex-end;
}

.content__link {
    font-family: var(--title-ff);
    font-size: 1.25rem;
    color: var(--text2);
    text-transform: uppercase;
    clear: left;
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 400;
    transition: color 300ms ease-out, background-color 300ms ease-out; 
}

.content__link:hover {
    color: var(--bg-primary_title);
    background-color: rgba(36, 36, 39, 1);
}

#toggle {
    display: none;
}

/* hero title */

.hero__content {
    display: flex;
    flex-direction: column;
}

.content__subtitle-top,
.content__subtitle-bottom,
.content__title {
    display: flex;
    font-family: var(--title-ff);
}

.content__title {
    text-transform: uppercase;
    align-self: center;
    margin: 0;
    order: 1;
}

.title1,
.title2 {
    font-weight: 600;
    font-size: var(--title-fs);
    line-height: var(--lh);
}

.title1 {
    position: relative;
    z-index: 0;
}

.title1::before {
    content: '';
    position: absolute;
    left: -6vw;
    width: 4vw;
    height: 100%;
    background-color: var(--shapes);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    z-index: 0;
}

.content__subtitle-top,
.content__subtitle-bottom {
    font-weight: 300;
    font-size: var(--subtitle-fs);
    color: var(--text2);
    line-height: var(--lh);
}

.content__subtitle-top {
    align-self: flex-start;
    margin: 2rem 0 .4rem 0;
    order: 0;
}

.top__subtitle {
    display: flex;
}

.content__subtitle-bottom {
    align-self: flex-end;
    margin: 0 0 2rem 0;
    order: 2;
}

/* HERO bottom/right section */

.hero__bottom-right {
    height: 70%;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cta__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cta__btn > * {
    margin: 0 0 2rem 0;
}

.btn__action {
    background-color: var(--button);
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
    color: var(--bg-secondary_text1);
    font-weight: 500;
}

.btn__more-main {
    background-color: var(--bg-secondary_text1);
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .2));
    color: var(--bg-primary_title);
    border: 1px solid var(--bg-primary_title)
}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
QUERIES
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

/* tablet */

@media (min-width: 768px) {

    :root {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    
        --bg-primary_title:   rgba(231, 231, 231, 1);
        --bg-secondary_text1: rgba(23, 23, 25, 1);
        --button:             rgba(1, 182, 113, 1);
        --shapes:             rgba(1, 216, 130, 1);
        --text2:              rgba(180, 180, 180, 1);
    
        --title-ff: 'Exo', sans-serif;
        --title-fs: 12vw;
    
        --subtitle-fs: 4vw;
    
        --lh: 100%;
    }

    /* global */

    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    /* HERO top/left section */

    .hero {
        height: 100vh;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, .4));
    }

    .hero__social-box {
        position: fixed;
        z-index: 2;
        top: 2rem;
        left: inherit;
        bottom: inherit;
        right: 0;
        display: flex;
        flex-direction: row;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    }

    .hero__top-left {
        margin: 20rem 2rem 2rem 2rem;
    }

    .header {
        justify-content: flex-start;
        padding: 2rem;
    }

    .header__title {
        margin: 0 2rem;
    }

    .content__title {
        align-self: flex-start;
        order: 0;
        margin: 0;
    }    

    .content__subtitle-top {
        order: 1;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .top__subtitle {
        flex-direction: column;
        text-transform: uppercase;
        font-weight: 500;
    }   
    
    .header__logo {             
        margin: 0 2rem;             /* do poprawy!!! */
    }

    /* HERO bottom/right section */

    .hero__bottom-right {
        background-image: url("images/hero-bg.jpg");
        background-size: cover;
        background-position: center top;
        margin: 0;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .hero__cta {
        display: flex;
        flex-direction: column;
        width: 40%;
        max-width: 450px;
        border: 8px solid var(--text2);
        margin: 0 4rem 4rem 0;
        padding: 2rem 2rem 0 2rem;
        backdrop-filter: blur(20px);
    }

    .cta__title {
        font-family: var(--title-ff);
        text-transform: uppercase;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 2rem;
    }

    .cta__text {
        font-weight: 200;
        line-height: 200%;
        text-align: justify;
        margin-bottom: 2rem;
    }
}

/* medium desktop */

/* standard to hamburger menu transformation */

@media only screen and (max-width: 922px) {

    .menu__hamburger {
        display: block;
        cursor: pointer;
    }

    .menu__content {
        margin-top: 4rem;
        text-align: left;
        display: none;
        width: 95vw;
    }  

    .content__element {
        line-height: 4rem;
    }

    .content__link {
        display: block;
        margin: 0;
    }

    #toggle:checked + .menu__content {
        display: block;
    }

}

@media (min-width: 922px) {

    :root {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    
        --bg-primary_title:   rgba(231, 231, 231, 1);
        --bg-secondary_text1: rgba(23, 23, 25, 1);
        --button:             rgba(1, 182, 113, 1);
        --shapes:             rgba(1, 216, 130, 1);
        --text2:              rgba(180, 180, 180, 1);
        --menu-link:          rgba(180, 180, 180, 0.5);
    
        --title-ff: 'Exo', sans-serif;
        --title-fs: calc(12vw - 1rem);
    
        --subtitle-fs: calc(4vw - 1rem);
    
        --lh: 100%;
    }

    button {
        width: 45%;
        border: none;
        font-family: var(--title-ff);
        font-size: 1.5rem;
        font-weight: 400;
        font-style: italic;
        padding: .5em 0;
    }

    .hero {
        flex-direction: row;
    }

    .hero__social-box {
        position: fixed;
        z-index: 2;
        top: 1rem;
        left: inherit;
        bottom: inherit;
        right: 0;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    }

    .hero__top-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem;
        position: relative;
        width: 20%;
    }

    .header {
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        order: 1;
        background-color: transparent;
        background-image: none;
        padding: 0;
    }

    .header__title {
        display: none;
    }

    .header__menu {
        width: 50%;
    }

    .menu__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 2rem 0 0 0;
    }

    .content__element {
        line-height: 1.25rem;
    }

    .content__link {
        font-family: var(--title-ff);
        font-size: 1rem;
        color: var(--menu-link);
        margin: .25rem 0;
        text-decoration: none;
        transition: color 300ms ease-out, background-color 100ms ease-out; 
    }
    
    .content__link:hover {
        color: var(--bg-primary_title);
        background-color: transparent;
    }

    .hero__content {
        flex-direction: column;
        justify-content: space-between;
        order: 0;
    }

    .content__title {
        flex-direction: column;
    } 

    .hero__bottom-right {
        height: 100%;
        width: 80%;
        background-image: url("images/hero-bg.jpg");
        background-size: cover;
        background-position: center top;
        margin: 0;
        justify-content: flex-end;
        align-items: flex-end;
    }

    .hero__cta {
        min-width: 70%;
    }

    .cta__btn {
        flex-direction: row;
        justify-content: center;
    }

    .btn__action {
        margin-right: 2rem;
    }

}

@media (min-width: 1200px) {

    :root {
        font-size: 16px;
        font-family: 'Montserrat', sans-serif;
    
        --bg-primary_title:   rgba(231, 231, 231, 1);
        --bg-secondary_text1: rgba(23, 23, 25, 1);
        --button:             rgba(1, 182, 113, 1);
        --shapes:             rgba(1, 216, 130, 1);
        --text2:              rgba(180, 180, 180, 1);
        --menu-link:          rgba(180, 180, 180, 0.5);
    
        --title-ff: 'Exo', sans-serif;
        --title-fs: calc(12vw - 2rem);
    
        --subtitle-fs: calc(4vw - 2rem);
    
        --lh: 100%;
    }

    .hero__bottom-right {
        height: 85%;
    }

    .hero__cta {
        margin: 0 4rem -4rem 0;
    }

}
