@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 100%;
}

/* mobile first */

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    --bg-primary_title:   rgba(231, 231, 231, 1);
    --bg-secondary_text1: rgba(23, 23, 25, 1);
    --button:             rgba(157, 191, 4, 1);
    --text2:              rgba(180, 180, 180, 1);
    --menu-link:          rgba(180, 180, 180, 0.5);

    --title-ff: 'Exo', sans-serif;
    --title-fw: 600;

    --subtitle-fw: 500;

    --text-fw: 400;

    --gradient-light: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    --gradient-dark: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
    --gradient-dark2: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    --gradient-dark3: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));

    --standard-shadow: 0px 2px 2px 0px rgba(23, 23, 25, 1);
    --dark-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 1);
    --dark-shadow2: 0px 2px 4px 0px rgba(0, 0, 0, 1);
    --light-shadow: 1px 2px 2px 0px rgba(255, 255, 255, 1);
}

body {
    background-color: transparent;
    text-align: justify;
    min-width: 300px;
}

button {
    min-width: 200px;
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 10px;
    font-family: var(--title-ff);
    font-style: italic;
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
    align-self: center;
    box-shadow: var(--standard-shadow);
    transition: box-shadow 300ms ease-out;
}

button:hover {
    box-shadow: 0px 2px 4px 0px rgba(23, 23, 25, 1);
}

img {
    display: block;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    z-index: 2;
    background-color: var(--bg-secondary_text1);
    background-image: var(--gradient-light);
    box-shadow: var(--standard-shadow);
}

.header__menu {
    width: 3rem;
}

.menu__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu__hamburger {
    display: none;
    float: left;
}

.hamburger__container {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .2rem 0;
}

.hamburger__element1,
.hamburger__element2 {
    display: block;
    width: 2rem;
    height: .3rem;
    background-color: var(--bg-primary_title);
}

.hamburger__element2 {
    align-self: flex-end;
}

.menu__link {
    font-family: var(--title-ff);
    font-size: 1.25rem;
    color: var(--text2);
    clear: left;
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 300;
    transition: color 300ms ease-out; 
}

.menu__link:hover {
    color: var(--bg-primary_title);
}

#toggle {
    display: none;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 3rem;
}

.header__title,
.header__subtitle {
    font-family: var(--title-ff);
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 1rem;
    font-weight: var(--title-fw);
    text-transform: uppercase;
    color: var(--bg-primary_title)
}

.header__subtitle {
    font-family: var(--title-ff);
    font-size: .8rem;  
    font-weight: var(--text-fw);
    color: var(--text2)
}

.header__logo {
    height: 3rem;
    width: 3rem;
}

.hero {
    min-height: 100vh;
    margin: 5rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.hero__top {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8rem), 0 100%);
    background-color: var(--bg-primary_title);
    background-image: url("images/hero.jpg");
    background-blend-mode: hard-light;
    background-size: fill;
    background-position: center;
}

.hero__top::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 70%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
}

.hero__social-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
    position: relative;
    z-index: 1;
}

.social__icon {
    width: 1.75rem;
    margin: .5rem 0;
    opacity: .8;
    transition: opacity 300ms ease-out;
}

.social__icon:hover {
    opacity: 1;
}

.hero__content {
    color: var(--bg-primary_title);
    margin: 1rem 0 1rem 1rem;
    position: relative;
    z-index: 1;
}

.hero__features {
    display: flex;
    flex-direction: column;
}

.hero__title,
.hero__subtitle {
    font-family: var(--title-ff);
}

.hero__title {
    font-size: 4rem;
    font-weight: var(--title-fw);
    text-transform: uppercase;
}

.hero__subtitle {
    font-size: 2rem;
    font-weight: var(--subtitle-fw);
}

.hero__bottom {
    width: 100%;
    display: flex;    
    justify-content: flex-end;
    align-items: flex-end;
    background-color: var(--bg-secondary_text1);
    background-image: var(--gradient-light);
    margin: -8rem 0 0 0;
    box-shadow: var(--dark-shadow);
}

.hero__cta {
    display: flex;
    flex-direction: column;
    max-width: 60%;
    background-color: var(--bg-primary_title);
    background-image: var(--gradient-dark2);
    box-shadow: var(--dark-shadow2);
    margin: 0 1rem -1rem 0;
    padding: 1rem;
    z-index: 1;
}

.hero__cta > * {
    margin: 0 0 1rem 0;
}

.cta__title {
    font-size: 1.5rem;
    font-weight: var(--text-fw);
    font-style: italic;
}

.cta__text {
    font-size: 1rem;;
    line-height: 200%;
}

.cta__btn-action {
    background-color: var(--button);
    color: var(--bg-secondary_text1);
    background-image: var(--gradient-dark3);
}

.cta__btn-learn {
    background-color: var(--bg-primary_title);
    color: var(--bg-secondary_text1);
    background-image: var(--gradient-dark2);
}

/* section partners */

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 8rem 1rem;
}

.partners__logo {
    margin: 3rem 0;
    width: 80%;
}

/* hamburger menu */

@media only screen and (max-width: 922px) {

    .menu__hamburger {
        display: block;
        cursor: pointer;
    }

    .menu__content {
        margin-top: 4rem;
        text-align: left;
        display: none;
        width: 95vw;
    }  

    .menu__element {
        line-height: 2rem;
    }

    .menu__link {
        display: block;
        margin: 0;
    }

    #toggle:checked + .menu__content {
        display: block;
    }

}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
tablet
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

@media (min-width: 768px) {
    
    .hero__features {
        flex-direction: row;
    }
    
    .hero__cta {
        max-width: 50%;
    }

    /* section partners */

    .partners {
        flex-direction: row;
        margin: 8rem 1rem;
        justify-content: space-evenly;
    }

    .partners__logo {
        width: 25%;
    }

}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
medium desktop
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

@media (min-width: 922px) {

    .header {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 9rem;
        flex-direction: column-reverse;
        padding: 2rem;
        z-index: 2;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }
    
    .header__menu {
        width: 100%;
    }
    
    .menu__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .menu__element {
        line-height: 1.25rem;
    }

    .menu__link {
        font-family: var(--title-ff);
        font-size: 1rem;
        color: var(--menu-link);
        margin: .125rem 0;
        text-decoration: none;
        transition: color 300ms ease-out; 
    }

    .menu__link:hover {
        color: var(--bg-primary_title);
    }
    
    .header__content {
        display: none;
    }
    
    .header__logo {
        height: 4rem;
        width: 4rem;
    }
    
    .hero {
        min-height: 100vh;
        margin: 0;
        flex-direction: row;
        background-color: var(--bg-primary_title);
        background-image: url("images/hero.jpg");
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    .hero::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 40%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 8rem) 100%, 0 100%);
        background-color: var(--bg-secondary_text1);
        background-image: var(--gradient-light);
    }

    .hero::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        height: 100%;
        width: 8rem;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
        background-color: var(--bg-secondary_text1);
        background-image: var(--gradient-light);
    }
    
    .hero__top {
        height: 100vh;
        min-width: 40%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-end;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background-color: transparent;
        background-image: none;
        position: relative;
        z-index: 1;
    }

    .hero__top::before {
        display: none;
    }

    .hero__social-box {
        flex-direction: row;
        margin: 3rem 2.5rem 0 0;
    }
    
    .social__icon {
        margin: 0 1rem;
    }
    
    .hero__content {
        margin: 4rem 2rem 0 0;
        position: relative;
        z-index: 1;
    }

    .hero__content::before {
        content: '';
        position: absolute;
        display: block;
        z-index: 0;
        height: 100%;
        width: 4rem;
        top: 0;
        left: -5rem;
        background-image: linear-gradient(to right, rgba(157, 191, 4, .7), rgba(157, 191, 4, .4));
    }
    
    .hero__features {
        display: flex;
        flex-direction: column;
    }
    
    .hero__subtitle {
        font-size: 2rem;
        font-weight: var(--text-fw);
        color: var(--text2);
        position: relative;
    }

    .hero__subtitle::before {
        content: '';
        position: absolute;
        display: block;
        z-index: 0;
        height: 100%;
        width: 100%;
        top: 0;
        left: -1rem;
        background-image: linear-gradient(to right, rgba(157, 191, 4, .4), rgba(157, 191, 4, 0));
    }
    
    .hero__bottom {
        height: 100vh;
        display: flex;    
        justify-content: flex-end;
        align-items: flex-end;
        margin: 0;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
    }
    
    .hero__cta {
        width: 50%;
        margin: 2rem 2rem -4rem 2rem;
    }

}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
large desktop
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

@media (min-width: 1200px) {
    
    .hero__title {
        font-size: 6rem;
    }
    
    .hero__cta {
        width: 40%;
    }

}