@import url('https://fonts.googleapis.com/css?family=Exo:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Permanent+Marker&display=swap&subset=latin-ext');

/* font-family: 'Permanent Marker', cursive;
font-family: 'Kaushan Script', cursive; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 100%;
}

/* mobile first */

:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

    --bg-primary_title:   rgba(231, 231, 231, 1);
    --bg-secondary_text1: rgba(23, 23, 25, 1);
    --button:             rgba(157, 191, 4, 1);
    --text2:              rgba(180, 180, 180, 1);
    --menu-link:          rgba(180, 180, 180, 0.5);

    --title-ff: 'Exo', sans-serif;
    --title-fw: 600;

    --subtitle-ff: 'Kaushan Script', cursive;

    --section-title-fs: 1.25rem;
    --section-title-fw: 600;
    --section-title-padding: 1rem;

    --section-text-fs: 1rem;
    --section-text-fw: 400;
    --section-text-lh: 150%;
    --section-text-margin: 1rem;

    --panel-title-fs: 1.25rem;
    --panel-title-fw: 500;
    --panel-title-padding: 1rem;

    --panel-text-fs: .9rem;
    --panel-text-fw: 500;
    --panel-text-lh: 150%;
    --panel-text-margin: 1rem;

    --gradient-light: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, .1));
    --gradient-dark: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
    --gradient-dark2: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
    --gradient-dark3: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3));

    --dark-shadow: 0px 2px 2px 0px rgba(0, 0, 0, .5);
    --dark-shadow2: 0px 2px 4px 0px rgba(0, 0, 0, .5);
    --light-shadow: 0px 1px 2px 0px rgba(255, 255, 255, .3);

    --standard-border-rad: 15px;
}

body {
    background-color: var(--bg-primary_title);
    text-align: justify;
    min-width: 300px;
}

button {
    min-width: 200px;
    width: 100%;
    max-width: 320px;
    border: none;
    border-radius: 10px;
    font-family: var(--title-ff);
    font-style: italic;
    font-size: 1.25rem;
    padding: .75rem;
    cursor: pointer;
    align-self: center;
    box-shadow: var(--dark-shadow);
    transition: transform 300ms ease-out
}

button:hover {
    transform: scale(1.05);
}

img {
    display: block;
    width: 100%;
}

.desktop {
    display: none;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
    z-index: 2;
    background-color: var(--bg-secondary_text1);
    box-shadow: var(--dark-shadow);
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.header__menu {
    width: 2rem;
}

.menu__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.menu__hamburger {
    display: none;
    float: left;
}

.hamburger__container {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .2rem 0;
}

.hamburger__element1,
.hamburger__element2 {
    display: block;
    width: 1.25rem;
    height: .2rem;
    background-color: var(--bg-primary_title);
    border-radius: 5px;
}

.hamburger__element2 {
    align-self: flex-end;
}

.menu__link {
    font-family: var(--title-ff);
    font-size: 1.25rem;
    color: var(--text2);
    clear: left;
    text-decoration: none;
    margin: 1rem 0;
    font-weight: 300;
    transition: color 300ms ease-out; 
}

.menu__link:hover {
    color: var(--bg-primary_title);
}

#toggle {
    display: none;
}

.header__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

.header__title,
.header__subtitle {
    font-family: var(--title-ff);
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.header__title {
    font-size: 1rem;
    font-weight: var(--title-fw);
    text-transform: uppercase;
    color: var(--bg-primary_title)
}

.header__subtitle {
    font-family: var(--title-ff);
    font-size: .8rem;  
    font-weight: 400;
    color: var(--text2)
}

.header__logo {
    height: 2rem;
    width: 2rem;
}

.hero {
    height: 100vh;
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.hero__top {
    height: 60vh;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem 0 0 0;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8rem), 0 100%);
    background-color: var(--bg-primary_title);
    background-image: url("images/hero.jpg");
    background-blend-mode: hard-light;
    background-size: fill;
    background-position: center;
    position: relative;
    z-index: 1;
}

.hero__top::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, 0));
    z-index: 0;
}

.hero__social-box {
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 0;
    position: relative;
    z-index: 1;
}

.social__icon {
    width: 1.75rem;
    margin: .5rem 0;
    opacity: .8;
    transition: opacity 300ms ease-out;
}

.social__icon:hover {
    opacity: 1;
}

.hero__content {
    color: var(--bg-primary_title);
    margin: 1rem 0 1rem 1rem;
    position: relative;
    z-index: 1;
}

.hero__features {
    display: flex;
    flex-direction: column;
}

.hero__title {
    font-family: var(--title-ff);
    font-size: 4rem;
    font-weight: var(--title-fw);
    text-transform: uppercase;
    font-style: italic;
}

.hero__subtitle {
    font-family: var(--subtitle-ff);
    font-size: 2rem;
}

.hero__bottom {
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    background-color: var(--bg-secondary_text1);
    margin: -8rem 0 0 0;
    box-shadow: var(--dark-shadow);
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.hero__cta {
    color: var(--bg-primary_title);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: rgba(231, 231, 231, .1);
    box-shadow: var(--dark-shadow2);
    border-radius: var(--standard-border-rad);
    margin: 7rem 1rem 1rem 1rem;
    padding: 1rem;
    z-index: 1;
}

.hero__cta > * {
    margin: 0 0 1rem 0;
}

.cta__title {
    font-family: var(--subtitle-ff);
    font-size: 2.5rem;
    font-weight: 400;
}

.cta__text {
    font-size: .9rem;
    font-weight: 300;
    font-style: italic;
    line-height: 200%;
}

.cta__btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.cta__btn-action {
    font-weight: 600;
    background-color: var(--button);
    color: var(--bg-secondary_text1);
    margin: 0 .5rem 1rem .5rem;
}

.cta__btn-learn {
    background-color: var(--bg-secondary_text1);
    color: var(--bg-primary_title);
    margin: 0 .5rem;
}

/* section partners */

.partners {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1rem;
}

.partners__logo {
    margin: 2rem 0;
    width: 80%;
}

/* section program */

.program {
    display: flex;
    flex-direction: column;
    border-radius: var(--standard-border-rad);
}

.program__features {
    background-color: var(--bg-secondary_text1);
    color: var(--bg-primary_title);
    border-radius: var(--standard-border-rad) var(--standard-border-rad) 0 0;
    display: flex;
    flex-direction: column;
}

.program__title {
    font-family: var(--title-ff);
    font-size: var(--section-title-fs);
    font-weight: var(--section-title-fw);
    padding: var(--section-title-padding);
    font-style: italic;
    text-transform: uppercase;
    background-image: var(--gradient-light);
    border-radius: var(--standard-border-rad);
}

.program__text {
    font-size: var(--section-text-fs);
    font-weight: var(--section-text-fw);
    line-height: var(--section-text-lh);
    margin: var(--section-text-margin);
}

.program__content {
    color: var(--bg-secondary_text1);
    display: flex;
    flex-direction: column;
}

.program__panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 0 2rem 0;
}

.panel__header {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary_text1);
    border-radius: var(--standard-border-rad);
    box-shadow: var(--dark-shadow);
}

.flat-top {
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.panel__title {
    color: var(--bg-primary_title);
    font-family: var(--title-ff);
    font-size: var(--panel-title-fs);
    font-weight: var(--panel-title-fw);
    padding: var(--panel-title-padding);
    font-style: italic;
    background-color: var(--bg-secondary_text1);
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.panel__content {
    display: flex;
    flex-direction: column;
}

.panel__text {
    font-size: var(--panel-text-fs);
    font-weight: var(--panel-text-fw);
    line-height: var(--panel-text-lh);
    margin: var(--panel-text-margin);
}

.panel__img {
    height: 40vh;
    object-fit: cover;
    border-radius: var(--standard-border-rad);
}

.panel__btn {
    align-self: flex-end;
    color: var(--bg-secondary_text1);
    margin: 0 1rem;
    width: 40%;
    min-width: 150px;
    background-color: var(--button);
}

/* section about */

.about {
    display: flex;
    flex-direction: column;
    border-radius: var(--standard-border-rad);
    margin: 0;
}

.about__features {
    background-color: var(--bg-secondary_text1);
    color: var(--bg-primary_title);
    border-radius: var(--standard-border-rad) var(--standard-border-rad) 0 0;
    display: flex;
    flex-direction: column;
}

.about__title {
    font-family: var(--title-ff);
    font-size: var(--section-title-fs);
    font-weight: var(--section-title-fw);
    padding: var(--section-title-padding);
    font-style: italic;
    text-transform: uppercase;
    background-image: var(--gradient-light);
    border-radius: var(--standard-border-rad);
}

.about__text {
    font-size: var(--section-text-fs);
    font-weight: var(--section-text-fw);
    line-height: var(--section-text-lh);
    margin: var(--section-text-margin);
}

.about__panel {
    display: flex;
    flex-direction: column;
}

.about__header {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-secondary_text1);
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
    box-shadow: var(--dark-shadow);
}

.about__subtitle {
    color: var(--bg-primary_title);
    font-family: var(--title-ff);
    font-size: var(--panel-title-fs);
    font-weight: var(--panel-title-fw);
    padding: var(--panel-title-padding);
    font-style: italic;
    background-color: var(--bg-secondary_text1);
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.about__img {
    height: 40vh;
    object-fit: cover;
    border-radius: var(--standard-border-rad);
}

.about__content {
    display: flex;
    flex-direction: column;
}

.about__subtext {
    font-size: var(--panel-text-fs);
    font-weight: var(--panel-text-fw);
    line-height: var(--panel-text-lh);
    margin: var(--panel-text-margin);
}

.about__btn {
    align-self: flex-end;
    color: var(--bg-secondary_text1);
    margin: 0 1rem;
    width: 40%;
    min-width: 150px;
    background-color: var(--button);
}

/* section coaches */

.coach {
    display: flex;
    flex-direction: column;
    border-radius: var(--standard-border-rad);
    margin: 2rem 0
}

.coach__features {
    background-color: var(--bg-secondary_text1);
    color: var(--bg-primary_title);
    border-radius: var(--standard-border-rad);
    display: flex;
    flex-direction: column;
}

.coach__title {
    font-family: var(--title-ff);
    font-size: var(--section-title-fs);
    font-weight: var(--section-title-fw);
    padding: var(--section-title-padding);
    font-style: italic;
    text-transform: uppercase;
    background-image: var(--gradient-light);
    border-radius: var(--standard-border-rad);
}

.coach__text {
    font-size: var(--section-text-fs);
    font-weight: var(--section-text-fw);
    line-height: var(--section-text-lh);
    margin: var(--section-text-margin);
}

.coach__content {
    color: var(--bg-secondary_text1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .5rem;
}

.coach__panel {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: .5rem;
    padding: 0 0 1rem 0;
    background-color: var(--bg-secondary_text1);
    border-radius: var(--standard-border-rad);
}

.flat-top {
    border-radius: var(--standard-border-rad)
}

.coach__subtitle {
    color: var(--bg-primary_title);
    font-family: var(--title-ff);
    font-size: var(--panel-title-fs);
    font-weight: var(--panel-title-fw);
    padding: var(--panel-title-padding);
    font-style: italic;
    background-color: var(--bg-secondary_text1);
    border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
}

.coach__img {
    height: 35vh;
    object-fit: cover;
    object-position: top;
    border-radius: var(--standard-border-rad);
}

.coach__btn {
    align-self: flex-end;
    color: var(--bg-secondary_text1);
    margin: 0 1rem;
    width: 40%;
    min-width: 150px;
    background-color: var(--button);
}

/* footer */

.footer {
    background-color: var(--bg-secondary_text1);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: var(--dark-shadow);
    padding: 1rem 0;
    border-radius: var(--standard-border-rad);
}

.footer * {
    margin: 0 0 .5rem 0
}

.footer__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__title {
    font-family: var(--title-ff);
    font-style: italic;
    color: var(--bg-primary_title);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.footer__subtitle {
    font-family: var(--subtitle-ff);
    color: var(--bg-primary_title);
    font-size: 1.4rem;
    font-weight: 400;
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 1rem 0;
}

.nav__link {
    text-decoration: none;
    margin: 0 1rem;
    color: var(--menu-link);
    font-weight: 600;
    transition: color 300ms ease-out;
    text-transform: uppercase;
}

.nav__link:hover {
    color: var(--bg-primary_title);
}

.footer__social-box {
    display: flex;
    width: 30%;
    justify-content: space-between;
    margin: 1rem 0;
}

.footer__adress {
    color: var(--bg-primary_title);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0 0 0;
}

.adress__title {
    font-weight: 500;
    text-transform: uppercase;
    align-self: center;
}

.adress__item {
    display: flex;
    align-items: center;
}

.footer__img {
    width: 30px;
}

.adress__text {
    margin: 0 0 0 1rem;
}

.copyright__text {
    text-align: center;
    font-weight: 600;
    margin: 2rem;
}



/*=================================================================================================================
===================================================================================================================
===================================================================================================================
MEDIA QUERIEs
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

/* hamburger menu */

@media only screen and (max-width: 922px) {

    .menu__hamburger {
        display: block;
        cursor: pointer;
    }

    .menu__content {
        margin-top: 4rem;
        text-align: left;
        display: none;
        width: 95vw;
    }  

    .menu__element {
        line-height: 2rem;
    }

    .menu__link {
        display: block;
        margin: 0;
    }

    #toggle:checked + .menu__content {
        display: block;
    }

}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
tablet
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

@media (min-width: 768px) {

    :root {
        --section-title-fs: 1.5rem;
        --section-title-fw: 600;
        --section-title-padding: 1rem;

        --section-text-fs: 1rem;
        --section-text-fw: 400;
        --section-text-lh: 150%;
        --section-text-margin: 1rem;

        --panel-title-fs: 1.25rem;
        --panel-title-fw: 500;

        --panel-text-fs: 1rem;
        --panel-text-fw: 500;
        --panel-text-lh: 150%;
    }
    
    .hero__features {
        flex-direction: row;
    }

    .hero__title {
        font-size: 5rem;
    }

    .hero__bottom {
        justify-content: flex-end;
    }
    
    .hero__cta {
        width: 60%;
        margin: 0 1rem;
    }

    .cta__btn {
        flex-direction: row;
    }

    /* section partners */

    .partners {
        flex-direction: row;
        margin: 8rem 1rem;
        justify-content: space-evenly;
    }

    .partners__logo {
        width: 25%;
        margin: 0;
    }
    
    /* section program */

    .program__features {
        border-radius: var(--standard-border-rad);
        box-shadow: var(--dark-shadow);
    }

    .program__content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .program__panel {
        flex-direction: column;
        width: 45%;
        margin: 1rem;
        padding: 0 0 1rem 0;
        box-shadow: var(--dark-shadow);
        border-radius: var(--standard-border-rad);
    }

    .cta__btn-action {
        margin: 0 .5rem;
    }

    .flat-top {
        border-radius: var(--standard-border-rad);
    }

    .panel__img {
        height: 25vh;
    }

    /* coach section */

    .coach__content {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
    }

    .coach__panel {
        flex-direction: column;
        width: 45%;
        margin: 1rem;
        padding: 0 0 1rem 0;
        box-shadow: var(--dark-shadow);
        border-radius: var(--standard-border-rad);
    }

    .coach__img {
        height: 40vh;
    }

}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
medium desktop
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

@media (min-width: 922px) {

    :root {
        --section-title-ff: 'Permanent Marker', cursive;
        --section-title-fs: 5rem;
        --section-title-fw: 600;
        --section-title-padding: 0;
        --section-title-margin: 0;
        --section-title-width: 50%;

        --section-text-fs: 1rem;
        --section-text-fw: 400;
        --section-text-fw2: 500;
        --section-text-lh: 150%;
        --section-text-padding: 0;
        --section-text-margin: 0;
        --section-text-width: 35%;

        --panel-title-fs: 1rem;
        --panel-title-fw: 600;

        --panel-text-fs: .8rem;
        --panel-text-fw: 500;
        --panel-text-lh: 150%;
        --panel-text-margin: 0; 
    }

    .header {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 9rem;
        flex-direction: column-reverse;
        padding: 2rem;
        z-index: 2;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border-radius: 0;
    }
    
    .header__menu {
        width: 100%;
    }
    
    .menu__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }

    .menu__element {
        line-height: 1.25rem;
    }

    .menu__link {
        font-family: var(--title-ff);
        font-size: 1rem;
        color: var(--menu-link);
        margin: .125rem 0;
        text-decoration: none;
        transition: color 300ms ease-out; 
    }

    .menu__link:hover {
        color: var(--bg-primary_title);
    }
    
    .header__content {
        display: none;
    }
    
    .header__logo {
        height: 4rem;
        width: 4rem;
    }
    
    .hero {
        min-height: 100vh;
        margin: 0;
        flex-direction: row;
        background-color: var(--bg-primary_title);
        background-image: url("images/hero.jpg");
        background-blend-mode: hard-light;
        background-size: cover;
        background-position: right;
        position: relative;
        box-shadow: var(--dark-shadow);
        border-radius: 0;
    }

    .hero::before {
        content: '';
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 40%;
        clip-path: polygon(0 0, 100% 0, calc(100% - 8rem) 100%, 0 100%);
        background-color: var(--bg-secondary_text1);
    }

    .hero::after {
        content: '';
        position: absolute;
        display: block;
        right: 0;
        top: 0;
        height: 100%;
        width: 8rem;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 0 100%);
        background-color: var(--bg-secondary_text1);
    }
    
    .hero__top {
        height: 100vh;
        min-width: 40%;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: flex-start;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background-color: transparent;
        background-image: none;
        position: relative;
        z-index: 1;
        padding: 0;
    }

    .hero__top::before {
        display: none;
    }

    .hero__social-box {
        flex-direction: row;
        margin: 3rem 2rem 0 0;
        align-self: flex-end;
    }
    
    .social__icon {
        margin: 0 1rem;
    }
    
    .hero__content {
        margin: 4rem 0 0 2rem;
        position: relative;
        z-index: 1;
    }
    
    .hero__features {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1;
    }
    
    .hero__subtitle {
        font-size: 2rem;
        font-weight: 400;
        color: var(--text2);
    }
    
    .hero__bottom {
        height: 100vh;
        display: flex;    
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;
        background-color: transparent;
        background-image: none;
        box-shadow: none;
        border-radius: 0;
    }
    
    .hero__cta {
        width: 80%;
        margin: 4rem 0;
        background-color: rgba(23, 23, 25, .8);
    }

    /* section partners */

    .partners {
        margin: 8rem 1rem;
    }

    /* section program */

    .program {
        color: var(--bg-primary_title);
        border-radius: 0;
        position: relative;
        z-index: 2;
        margin: 0;
        background-color: transparent;
    }

    .program::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background-color: var(--bg-secondary_text1);
        clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 calc(100% - 6rem));
        z-index: 1;
    }

    .program::after {
        content: '';
        position: absolute;
        display: block;
        top: 10rem;
        width: 100%;
        height: 100%;
        background-color: var(--button);
        clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 calc(100% - 6rem));
        z-index: 0;
    }

    .program__features {
        border-radius: 0;
        margin: 7rem 4rem;
        padding: 0;
        box-shadow: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }
    
    .program__title {
        width: var(--section-title-width);
        font-family: var(--section-title-ff);
        color: var(--bg-primary_title);
        background-color: transparent;
        background-image: none;
        border-radius: 0;
        box-shadow: none;
        font-style: normal;
        padding: var(--section-title-padding);
        margin: var(--section-title-margin);
    }

    .program__text {
        width: var(--section-text-width);
        color: var(--bg-primary_title);
        font-weight: var(--section-text-fw);
        margin: var(--section-text-margin);
        padding: var(--section-text-padding);
        background-color: transparent;
    }

    .program__content {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0 0 -3rem 0;
        background-color: transparent;
        box-shadow: none;
        position: relative;
        z-index: 1;
        max-width: 1200px;
        margin: 0 auto;
    }

    .program__panel {
        color: var(--bg-secondary_text1);
        justify-content: flex-start;
        align-items: center;
        width: 22%;
        margin: 0 1rem;
        padding: 0;
        border-radius: 0;
        background-color: var(--bg-primary_title);
        box-shadow: var(--dark-shadow);
    }

    .panel__header {
        min-width: 40%;
        justify-content: flex-start;
        align-items: center;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;
        margin: 0;
    }

    .panel__title {
        font-size: var(--panel-title-fs);
        color: var(--bg-secondary_text1);
        margin: 0;
        border-radius: 0;
        background-color: transparent;
        padding: 0;
        font-weight: var(--panel-title-fw);
    }

    .panel__content {
        margin: 1rem;
    }

    .panel__text {
        font-size: var(--panel-text-fs);
        margin: 0 0 1rem 0;
    }

    .flat-top {
        border-radius: 0;
    }

    .panel__img {
        width: 100%;
        border-radius: 0;
        object-position: top;
        margin: 1rem;
    }

    .panel__btn {
        font-size: 1rem;
        font-weight: 500; 
        min-width: 50px;
        align-self: flex-end;
        margin: 0;
        padding: .5rem
    }

    /* section about*/

    .about {
        color: var(--bg-secondary_text1);
        border-radius: 0;
        position: relative;
        margin: 10rem 0;
        background-color: var(--bg-primary_title);
    }

    .about__features {
        border-radius: 0;
        margin: 7rem 4rem;
        padding: 0;
        box-shadow: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }
    
    .about__title {
        width: var(--section-title-width);
        font-family: var(--section-title-ff);
        color: var(--bg-secondary_text1);
        background-color: transparent;
        background-image: none;
        border-radius: 0;
        box-shadow: none;
        font-style: normal;
        padding: var(--section-title-padding);
        margin: var(--section-title-margin);
    }

    .about__text {
        width: var(--section-text-width);
        color: var(--bg-secondary_text1);
        font-weight: var(--section-text-fw2);
        margin: var(--section-text-margin);
        padding: var(--section-text-padding);
        background-color: transparent;
    }

    .about__panel {
        color: var(--bg-primary_title);
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        margin: 0;
        padding: 2rem 10rem;
        border-radius: 0;
        background-color: var(--bg-secondary_text1);
        box-shadow: var(--dark-shadow);
    }
    
    .about__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
    }
    
    .about__subtitle {
        color: var(--bg-primary_title);
        font-family: var(--title-ff);
        font-size: 1.5rem;
        font-weight: var(--panel-title-fw);
        margin: 2rem 0 0 0;
        padding: 0;
        font-style: italic;
        background-color: transparent;
        border-radius: 0;
    }
    
    .about__img {
        min-width: 30%;
        object-fit: cover;
        border-radius: 0;
    }
    
    .about__content {
        display: flex;
        flex-direction: column;
    }
    
    .about__subtext {
        color: var(--text2);
        font-size: .9rem;
        font-weight: 400;
        line-height: var(--panel-text-lh);
        margin: 0 0 2rem 2rem;
    }
    
    .about__btn {
        font-size: 1rem;
        font-weight: 500; 
        width: 100px;
        align-self: flex-end;
        margin: 0;
        padding: .5rem
    }

    /* section coaches */

    .coach {
        color: var(--bg-secondary_text1);
        border-radius: 0;
        position: relative;
        margin: 15rem 0;
        background-color: var(--bg-primary_title);
    }

    .coach::before {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 120%;
        background-color: var(--button);
        clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 calc(100% - 6rem));
        z-index: 1;
    }

    .coach::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 140%;
        top: -10%;
        background-color: var(--bg-secondary_text1);
        clip-path: polygon(0 0, 100% 6rem, 100% 100%, 0 calc(100% - 6rem));
        z-index: 0;
    }

    .coach__features {
        border-radius: 0;
        margin: 7rem 4rem;
        padding: 0;
        box-shadow: none;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }
    
    .coach__title {
        width: var(--section-title-width);
        font-family: var(--section-title-ff);
        color: var(--bg-secondary_text1);
        background-color: transparent;
        background-image: none;
        border-radius: 0;
        box-shadow: none;
        font-style: normal;
        padding: var(--section-title-padding);
        margin: var(--section-title-margin);
    }

    .coach__text {
        width: var(--section-text-width);
        color: var(--bg-secondary_text1);
        font-weight: var(--section-text-fw2);
        margin: var(--section-text-margin);
        padding: var(--section-text-padding);
        background-color: transparent;
    }

    .coach__content {
        display: flex;
        padding: .5rem;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    .coach__panel {
        display: flex;
        flex-direction: column;
        width: 23%;
        margin: .5rem;
        padding: 0 0 1rem 0;
        background-color: var(--bg-secondary_text1);
        border-radius: 0;
    }

    .flat-top {
        border-radius: 0;
    }

    .coach__subtitle {
        color: var(--bg-primary_title);
        font-family: var(--title-ff);
        font-size: var(--panel-title-fs);
        font-weight: var(--panel-title-fw);
        padding: 1rem;
        font-style: italic;
        background-color: var(--bg-secondary_text1);
        border-radius: 0 0 var(--standard-border-rad) var(--standard-border-rad);
    }

    .coach__img {
        border-radius: 0;
    }

    .coach__btn {
        font-size: 1rem;
        font-weight: 500; 
        min-width: 50px;
        align-self: flex-end;
        margin: 0 1rem;
        padding: .5rem
    }

    .footer {
        border-radius: 0;
        padding: 4rem 0 2rem 0;
    }

    .footer__nav {
        flex-direction: row;
    }

    .nav__link {
        margin: 2rem;
    }

    .footer__social-box {
        margin-bottom: 3rem;
        max-width: 300px;
    }

    .footer__adress > * {
        margin-bottom: 2rem;
    }

}

/*=================================================================================================================
===================================================================================================================
===================================================================================================================
large desktop
===================================================================================================================
===================================================================================================================
=================================================================================================================*/

@media (min-width: 1200px) {

    .hero__content {
        margin: 3rem 0 0 2rem;
    }
    
    .hero__title {
        font-size: 6rem;
    }

    .hero__bottom {
        justify-content: center;
    }
    
    .hero__cta {
        width: 60%;
    }

    .panel__img {
        width: 100%;
    }

}