/* Coolors Exported Palette - coolors.co/e7e7e7-171719-01b671-01d882-b4b4b4 */

/* HSL */
$color1: hsla(0%, 0%, 91%, 1);
$color2: hsla(240%, 4%, 9%, 1);
$color3: hsla(157%, 99%, 36%, 1);
$color4: hsla(156%, 99%, 43%, 1);
$color5: hsla(0%, 0%, 71%, 1);

/* RGB */
$color1: rgba(231, 231, 231, 1);
$color2: rgba(23, 23, 25, 1);
$color3: rgba(1, 182, 113, 1);
$color4: rgba(1, 216, 130, 1);
$color5: rgba(180, 180, 180, 1);